# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/

# ASP.NET
appsettings.Development.json

# Angular
node_modules/
dist/
.angular/

# Logs
*.log
# Configuration / Secrets
appsettings.json

# Publish
publish/
**/PublishProfiles/
/API/
Store.KH.APIs/dotnet-tools.json